:root {
  --primary-color: #575757;
  --background-color: #dbdbdb; 
  --background-li: #fff;
};

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  transition: .4s;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  color: var(--primary-color);
  font-size: 3em;
}

h6 {
  text-transform: uppercase;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5em;
}

li {
  padding: .5em 2em;
  margin-bottom: 1em;
  background-color: var(--background-li);
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 1.1em;
  transition: .4s;
}


/* ========== toggle ========== */

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.toggle-container h6{
  color: var(--primary-color);
  margin-right: .3rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide checkbox */
.switch input {
  display: none;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #274dca;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}